.header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.header-container h1 {
  font-weight: 200;
  color: white;
  background-color: rgb(0, 119, 128);
}

.statistics-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 30px;
}

.statistic,
.header-container h1 {
  padding: 5px 20px;
  border: 2px solid rgb(0, 119, 128);
  border-radius: 10px;
  text-align: center;
}

.statistic h2,
.statistic h3 {
  font-size: 20px;
  line-height: 10px;
}

.statistic h2 {
  font-weight: 200;
}

.statistic h3 {
  font-weight: 700;
}
